<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mdb.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">


    <title>Document</title>
</head>

<body>

    <div class="main">
        <div class="card">
            <div class="card-header">
                <div class="alert alert-info">
                    <p>Students' mark prediction system</p>
                </div>
            </div>
            <div class="card-body card-body-cascade">
                <form action="{{ url_for('index') }}" method="POST">
                    <div class="form-outline mb-4">
                        <input type="text" name="course_no" class="form-control form-control-sm">
                        <label for="course_no" class="form-label">Number of Courses</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input type="text" name="time_s" class="form-control form-control-sm">
                        <label for="time" class="form-label">Time Studied</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input type="submit" value="Predict" class="btn btn-sm btn-primary">
                    </div>
                </form>

                {% for msg in get_flashed_messages() %}
                <div class="card-footer">
                    <div class="card-header">
                        <p class="badge badge-danger text-primary">Expected marks scored : {{ msg }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/mdb.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquey.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquey-ui.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/all.min.js') }}"></script>
</body>

</html>
