<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mdb.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">


    <title>Document</title>
</head>

<body>
    <div class="main">
        <div class="card">
            <div class="card-header">
                <p class="badge badge-danger text-center text-primary">Expected marks scored : {{ pred }}</p>
            </div>
        </div>
    </div>
</body>


<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/mdb.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquey.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquey-ui.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/all.min.js') }}"></script>

</html>